---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: homepage-argocd-token
  namespace: {{ homepage_deploy_namespace }}
spec:
  itemPath: >-
    vaults/{{ homepage_deploy_1p_vault_name }}/items/{{
    homepage_deploy_1p_item_name }}
