- name: Assert required tailscale_operator_deploy inputs are defined
  ansible.builtin.assert:
    that:
      - tailscale_operator_deploy_kubeconfig is defined
      - tailscale_operator_deploy_context is defined
      - tailscale_operator_deploy_oauth_client_id is defined
      - tailscale_operator_deploy_oauth_client_secret is defined
      - tailscale_operator_deploy_kubeconfig | string | length > 0
      - tailscale_operator_deploy_context | length > 0
      - tailscale_operator_deploy_oauth_client_id | length > 0
      - tailscale_operator_deploy_oauth_client_secret | length > 0
    fail_msg: |
      tailscale_operator_deploy_kubeconfig
      tailscale_operator_deploy_context
      tailscale_operator_deploy_oauth_client_id
      tailscale_operator_deploy_oauth_client_secret
      ...must be defined for tailscale_operator_deploy.

- name: Render tailscale_operator_deploy Argo CD Application manifest
  ansible.builtin.template:
    src: "{{ role_path }}/templates/infra-tailscale-operator.yml.j2"
    dest: "{{ role_path }}/templates/infra-tailscale-operator.yml"
    mode: "0644"

- name: Set static path to pass to k8s_object_manager role
  ansible.builtin.set_fact:
    tailscale_operator_deploy_manifest: "{{ role_path }}/templates/infra-tailscale-operator.yml"

- name: Apply infra-tailscale-operator Argo CD Application manifest
  ansible.builtin.include_role:
    name: k8s_object_manager
  vars:
    k8s_object_manager_src: "{{ tailscale_operator_deploy_manifest }}"

- name: Persist tailscale_operator_deploy artifacts
  ansible.builtin.include_role:
    name: role_artifacts
  vars:
    # noqa: var-naming
    calling_role_name: "tailscale_operator_deploy"
    calling_role_artifacts_inputs:
      k3s_cluster_name: "{{ tailscale_operator_deploy_cluster_name | default(k3s_cluster_name | default('', true), true) }}"
      application_result: "{{ k8s_object_manager_result }}"
