---
- name: Assert required tailscale_operator_deploy inputs are defined
  ansible.builtin.assert:
    that:
      - tailscale_operator_deploy_kubeconfig is defined
      - tailscale_operator_deploy_context is defined
      - tailscale_operator_deploy_oauth_client_id is defined
      - tailscale_operator_deploy_oauth_client_secret is defined
      - tailscale_operator_deploy_kubeconfig | string | length > 0
      - tailscale_operator_deploy_context | length > 0
      - tailscale_operator_deploy_oauth_client_id | length > 0
      - tailscale_operator_deploy_oauth_client_secret | length > 0
    fail_msg: |
      tailscale_operator_deploy_kubeconfig
      tailscale_operator_deploy_context
      tailscale_operator_deploy_oauth_client_id
      tailscale_operator_deploy_oauth_client_secret
      ...must be defined for tailscale_operator_deploy.

- name: >-
    Compute path to tailscale_operator Application manifest in argocd directory
  ansible.builtin.set_fact:
    tailscale_operator_deploy_app_source: >-
      {{
        [
          playbook_dir | dirname,
          "argocd",
          "tailscale_operator",
          "tailscale_operator.yml"
        ] | join("/")
      }}

- name: Create temporary file for rendered Application manifest
  ansible.builtin.tempfile:
    state: file
    suffix: _tailscale_operator_application.yml
  register: tailscale_operator_deploy_temp_file

- name: Render tailscale_operator Application manifest to temporary location
  ansible.builtin.template:
    src: "{{ tailscale_operator_deploy_app_source }}"
    dest: "{{ tailscale_operator_deploy_temp_file.path }}"
    mode: "0600"

- name: Apply tailscale_operator Argo CD Application manifest
  ansible.builtin.include_role:
    name: k8s_object_manager
  vars:
    k8s_object_manager_kubeconfig: "{{ tailscale_operator_deploy_kubeconfig }}"
    k8s_object_manager_context: "{{ tailscale_operator_deploy_context }}"
    k8s_object_manager_src: "{{ tailscale_operator_deploy_temp_file.path }}"

- name: Remove temporary Application manifest file
  ansible.builtin.file:
    path: "{{ tailscale_operator_deploy_temp_file.path }}"
    state: absent
  when: tailscale_operator_deploy_temp_file.path is defined

- name: Persist tailscale_operator_deploy artifacts
  ansible.builtin.include_role:
    name: role_artifacts
  vars:
    # noqa: var-naming
    calling_role_name: "tailscale_operator_deploy"
    calling_role_artifacts_inputs:
      k3s_cluster_name: >-
        {{ tailscale_operator_deploy_cluster_name | default(k3s_cluster_name | default('', true), true) }}
      application_result: "{{ k8s_object_manager_result }}"
