---
- name: Assert required tailscale_operator_deploy inputs are defined
  ansible.builtin.assert:
    that:
      - tailscale_operator_deploy_kubeconfig is defined
      - tailscale_operator_deploy_context is defined
      - tailscale_operator_deploy_repo_root is defined
      - tailscale_operator_deploy_kubeconfig | string | length > 0
      - tailscale_operator_deploy_context | length > 0
      - tailscale_operator_deploy_repo_root | length > 0
    fail_msg: |
      tailscale_operator_deploy_kubeconfig
      tailscale_operator_deploy_context
      tailscale_operator_deploy_repo_root
      ...must be defined for tailscale_operator_deploy.

- name: Set path to secrets application manifest
  ansible.builtin.set_fact:
    tailscale_operator_deploy_secrets_manifest: >-
      {{ [
        tailscale_operator_deploy_repo_root,
        'k8s/tailscale_operator_secrets/application.yml'
      ] | join('/') }}

- name: Set path to main application manifest
  ansible.builtin.set_fact:
    tailscale_operator_deploy_app_manifest: >-
      {{ [
        tailscale_operator_deploy_repo_root,
        'k8s/tailscale_operator/application.yml'
      ] | join('/') }}

- name: Apply tailscale-operator-secrets Argo CD Application manifest
  ansible.builtin.include_role:
    name: k8s_object_manager
  vars:
    k8s_object_manager_kubeconfig: >-
      {{ tailscale_operator_deploy_kubeconfig }}
    k8s_object_manager_context: >-
      {{ tailscale_operator_deploy_context }}
    k8s_object_manager_state: present
    k8s_object_manager_src: >-
      {{ tailscale_operator_deploy_secrets_manifest }}

- name: Capture k8s_object_manager result for secrets application
  ansible.builtin.set_fact:
    tailscale_operator_deploy_secrets_result: >-
      {{ k8s_object_manager_result }}

- name: Apply tailscale-operator Argo CD Application manifest
  ansible.builtin.include_role:
    name: k8s_object_manager
  vars:
    k8s_object_manager_kubeconfig: >-
      {{ tailscale_operator_deploy_kubeconfig }}
    k8s_object_manager_context: >-
      {{ tailscale_operator_deploy_context }}
    k8s_object_manager_state: present
    k8s_object_manager_src: >-
      {{ tailscale_operator_deploy_app_manifest }}

- name: Capture k8s_object_manager result for main application
  ansible.builtin.set_fact:
    tailscale_operator_deploy_app_result: >-
      {{ k8s_object_manager_result }}

- name: Persist tailscale_operator_deploy artifacts
  ansible.builtin.include_role:
    name: role_artifacts
  vars:
    # noqa: var-naming
    calling_role_name: "tailscale_operator_deploy"
    calling_role_artifacts_inputs:
      k3s_cluster_name: >-
        {{ tailscale_operator_deploy_cluster_name |
        default(k3s_cluster_name | default('', true), true) }}
      secrets_application_result: >-
        {{ tailscale_operator_deploy_secrets_result }}
      application_result: >-
        {{ tailscale_operator_deploy_app_result }}
