ansible/.vault_password.txt
.lock
*.bu
*.ign
ansible/playbooks/.artifacts/*
*/**/*.log
*/**/*.tmp
*/**/*.bak
*/**/*.old
ansible/roles/tailscale_operator_deploy/templates/infra-tailscale-operator.yml
argocd/onepassword_operator/onepassword_operator.yml
ansible/roles/paperless_ngx_deploy/templates/application.yml
