- name: Import 1Password RPM GPG key
  become: true
  ansible.builtin.rpm_key:
    state: present
    key: https://downloads.1password.com/linux/keys/1password.asc

- name: Configure 1Password repository information
  become: true
  ansible.builtin.yum_repository:
    name: 1password
    description: 1Password Stable Channel
    baseurl: https://downloads.1password.com/linux/rpm/stable/$basearch
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: https://downloads.1password.com/linux/keys/1password.asc
    state: present

- name: Ensure 1Password CLI is installed and up to date
  become: true
  ansible.builtin.dnf:
    name: 1password-cli
    state: present
    update_cache: true
