apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  url: https://argocd.rohu-shark.ts.net
  exec.enabled: "true"
  resource.customizations.health.networking.k8s.io_Ingress: |
    hs = {}
    ann = (obj.metadata and obj.metadata.annotations) or {}
    if ann["gethomepage.dev/enabled"] == "true" then
      hs.status = "Healthy"
      return hs
    end
    hs.status = "Progressing"
    return hs
  # Service account for homepage
  accounts.homepage: apiKey
  dex.config: |
    connectors:
    - type: github
      id: github
      name: GitHub
      config:
        clientID: "{{ argocd_github_oauth_client_id }}"
        clientSecret: "{{ argocd_github_oauth_client_secret }}"
        redirectURI: https://argocd.rohu-shark.ts.net/api/dex/callback
