---
- name: Validate op_vault_validator_vault_name input
  ansible.builtin.assert:
    that:
      - op_vault_validator_vault_name is string
      - op_vault_validator_vault_name | length > 0
    fail_msg: |-
      op_vault_validator_vault_name must be a non-empty string.

      Example usage:

        - name: Ensure dev vault exists
          ansible.builtin.include_role:
            name: op_vault_validator
          vars:
            op_vault_validator_vault_name: "dev"

        - name: Ensure prod vault exists
          ansible.builtin.include_role:
            name: op_vault_validator
          vars:
            op_vault_validator_vault_name: "prod"

- name: Attempt to get existing 1Password vault
  ansible.builtin.command:
    cmd: >-
      op vault get {{ op_vault_validator_vault_name }} --format=json
  environment:
    OP_SERVICE_ACCOUNT_TOKEN: >-
      {{ op_vault_validator_op_service_account_token }}
  register: op_vault_validator_get_result
  failed_when: false
  changed_when: false

- name: Set facts when vault exists
  ansible.builtin.set_fact:
    op_vault_validator_vault_exists: true
    op_vault_validator_vault_created: false
    op_vault_validator_vault: >-
      {{ op_vault_validator_get_result.stdout | from_json }}
  when: op_vault_validator_get_result.rc == 0

- name: Create 1Password vault when missing
  ansible.builtin.command:
    cmd: >-
      op vault create {{ op_vault_validator_vault_name }} --format=json
  environment:
    OP_SERVICE_ACCOUNT_TOKEN: >-
      {{ op_vault_validator_op_service_account_token }}
  register: op_vault_validator_create_result
  when: op_vault_validator_get_result.rc != 0
  changed_when: true

- name: Set facts when vault was created
  ansible.builtin.set_fact:
    op_vault_validator_vault_exists: true
    op_vault_validator_vault_created: true
    op_vault_validator_vault: >-
      {{ op_vault_validator_create_result.stdout | from_json }}
  when:
    - op_vault_validator_get_result.rc != 0
    - op_vault_validator_create_result is defined
    - op_vault_validator_create_result is not skipped
    - op_vault_validator_create_result is succeeded

- name: Pass role artifacts
  ansible.builtin.include_role:
    name: role_artifacts
  vars:
    role_artifacts_path: "{{ op_vault_validator_artifacts_path }}"
    calling_role_name: op_vault_validator
    calling_role_artifacts_inputs:
      vault_name: >-
        {{ op_vault_validator_vault.name | default(op_vault_validator_vault_name) }}
      vault_id: "{{ op_vault_validator_vault.id | default(omit) }}"
      exists: "{{ op_vault_validator_vault_exists | default(false) }}"
      created: "{{ op_vault_validator_vault_created | default(false) }}"
