apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: synology-csi
  namespace: argocd
spec:
  project: coachlight-k3s-infra
  source:
    repoURL: https://christian-schlichtherle.github.io/synology-csi-chart
    chart: synology-csi
    targetRevision: 0.10.1
    helm:
      valuesObject:
        clientInfoSecret:
          clients:
            - host: "{{ synology_csi_deploy_nas_lan_ip }}"
              https: true
              username: "{{ k3s_synology_csi_nas_username }}"
              password: "{{ k3s_synology_csi_nas_password }}"
              port: 5001
          create: true
          name: ""
        installCSIDriver: true
        storageClasses:
          # Disable all iSCSI classes
          iscsi-delete:
            disabled: true
            test: false
          iscsi-retain:
            disabled: true

          # Disable all SMB classes
          smb-delete:
            disabled: true
            test: false
          smb-retain:
            disabled: true

          # Our single active NFS storage class (Delete, default)
          nfs-delete:
            disabled: false
            isDefault: true
            reclaimPolicy: Delete
            test: false
            mountOptions:
              - vers=4
            parameters:
              protocol: "nfs"
              dsm: "{{ synology_csi_deploy_nas_lan_ip }}"
              location: "{{ synology_csi_deploy_nfs_storage_path }}"

          # Optionally keep this around but disabled for safety
          nfs-retain:
            disabled: true

        # Previously you had "disabled: true" and "volumeSnapshotClasses: {}"
        # to effectively kill snapshotting. Now you disable each class.
        volumeSnapshotClasses:
          delete:
            disabled: true
            deletionPolicy: Delete
          retain:
            disabled: true
            deletionPolicy: Retain

  destination:
    server: https://kubernetes.default.svc
    namespace: infra-synology-csi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
