apiVersion: v1
kind: Secret
metadata:
  name: {{ crafty_controller_deploy_default_json_secret_name }}
  namespace: {{ crafty_controller_deploy_namespace }}
type: Opaque
stringData:
  {{ crafty_controller_deploy_default_json_filename }}: |-
    {{ lookup('ansible.builtin.file', crafty_controller_deploy_default_json_render_path) | indent(4) }}
