apiVersion: v1
kind: Service
metadata:
  name: crafty-controller
  namespace: {{ crafty_controller_deploy_namespace }}
  labels:
    app: crafty-controller
{% if crafty_controller_deploy_tailscale_enabled | default(true) | bool %}
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: "crafty-controller"
{% endif %}
spec:
  type: ClusterIP
  selector:
    app: crafty-controller
  ports:
    - name: https-panel
      port: 443
      targetPort: 8443
    - name: http-dynmap
      port: 8123
      targetPort: 8123
    - name: bedrock
      port: 19132
      targetPort: 19132
      protocol: UDP
{% for port in range(25500, 25601) %}
    - name: java-{{ port }}
      port: {{ port }}
      targetPort: {{ port }}
{% endfor %}
