- name: Set facts for API vars
  set_fact:
    proxmox_api_host_ip: "{{ hostvars[groups['proxmox_primary'][0]].proxmox_ip }}"
    proxmox_api_host: "{{ groups['proxmox_primary'][0] }}"
    proxmox_api_user: "{{ pve_admin_user }}"
    proxmox_api_password: "{{ pve_admin_password }}"
  delegate_to: localhost
  run_once: true

- name: Ensure Butane is installed (localhost)
  ansible.builtin.package:
    name: butane
    state: present
  delegate_to: localhost
  become: true
  run_once: true

- name: Render Butane for first control plane (localhost)
  ansible.builtin.template:
    src: "{{ role_path }}/files/fcos-k3s-ha-control.bu.j2"
    dest: "{{ role_path }}/files/k3s-cp-1.bu"
    mode: "0644"
  vars:
    proxmox_vm_hostname: k3s-cp-1
    vm_ip: "{{ proxmox_k3s_control_plane_start_ip }}"
    vm_mac: "{{ proxmox_k3s_mac_prefix }}01"
  delegate_to: localhost
  run_once: true
  register: cp1_bu

- name: Stat cp1 Ignition (localhost)
  ansible.builtin.stat:
    path: "{{ role_path }}/files/k3s-cp-1.ign"
  delegate_to: localhost
  run_once: true
  register: cp1_ign

- name: Transpile cp1 Butane -> Ignition (localhost)
  ansible.builtin.command: >
    butane --pretty --strict
      {{ role_path }}/files/k3s-cp-1.bu
      --output {{ role_path }}/files/k3s-cp-1.ign
  args:
    creates: "{{ role_path }}/files/k3s-cp-1.ign"
  when: cp1_bu.changed or not cp1_ign.stat.exists
  delegate_to: localhost
  run_once: true

- name: Ensure /var/coreos/snippets exists on primary
  ansible.builtin.file:
    path: /var/coreos/snippets
    state: directory
    mode: "0755"
  when: inventory_hostname in groups['proxmox_primary']

- name: Upload cp1 Ignition to node1 snippets
  ansible.builtin.copy:
    src: "{{ role_path }}/files/k3s-cp-1.ign"
    dest: "/var/coreos/snippets/k3s-cp-1.ign"
    mode: "0600"
  delegate_to: "{{ groups['proxmox'][0] }}"

- name: Provision cp1 via Proxmox API (controller)
  delegate_to: localhost
  run_once: true
  block:
    - name: Ensure cp1 VM exists (base config; no boot yet)
      community.proxmox.proxmox_kvm:
        api_host: "{{ proxmox_api_host_ip }}"
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        node: "{{ proxmox_api_host }}"
        vmid: "{{ proxmox_k3s_cp1_vmid }}"
        name: "k3s-cp-1"
        memory: "{{ proxmox_k3s_control_plane_memory }}"
        cores: "{{ proxmox_k3s_control_plane_cpu }}"
        agent: "enabled=1,fstrim_cloned_disks=1"
        net:
          net0: "virtio,bridge={{ proxmox_bridge }},macaddr={{ proxmox_k3s_mac_prefix }}01"
        ide:
          ide2: "{{ proxmox_storage }}:cloudinit"
        cicustom: "vendor=coreos:snippets/k3s-cp-1.ign"
        state: present
        validate_certs: false

    - name: Import FCOS qcow2 as scsi0 (must be root)
      community.proxmox.proxmox_disk:
        api_host: "{{ proxmox_api_host_ip }}"
        api_user: "root@pam"
        api_password: "{{ proxmox_api_password }}"
        vmid: "{{ proxmox_k3s_cp1_vmid }}"
        disk: "scsi0"
        storage: "{{ proxmox_storage }}"
        import_from: >-
          {{ proxmox_fcos_storage_path }}/images/{{
            (proxmox_fcos_path
            | default((hostvars['localhost']['proxmox_fcos_find'].files | default([]) | map(attribute='path') | first)))
            | basename
          }}
        state: present
        validate_certs: false

    - name: Grow scsi0 to requested size
      community.proxmox.proxmox_disk:
        api_host: "{{ proxmox_api_host_ip }}"
        api_user: "root@pam"
        api_password: "{{ proxmox_api_password }}"
        vmid: "{{ proxmox_k3s_cp1_vmid }}"
        disk: "scsi0"
        size: "{{ proxmox_k3s_control_plane_disk }}G"
        state: resized
        validate_certs: false

    - name: Wait for scsi0 to appear in VM config
      ansible.builtin.command: "qm config {{ proxmox_k3s_cp1_vmid }}"
      register: qm_cfg
      until: "'scsi0:' in qm_cfg.stdout"
      retries: 10
      delay: 1
      delegate_to: "{{ proxmox_api_host }}"
      become: true

    - name: Set boot order to scsi0
      community.proxmox.proxmox_kvm:
        api_host: "{{ proxmox_api_host_ip }}"
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        node: "{{ proxmox_api_host }}"
        vmid: "{{ proxmox_k3s_cp1_vmid }}"
        boot: "order=scsi0"
        state: present
        update: true
        validate_certs: false

    - name: Start cp1
      community.proxmox.proxmox_kvm:
        api_host: "{{ proxmox_api_host_ip }}"
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        node: "{{ proxmox_api_host }}"
        vmid: "{{ proxmox_k3s_cp1_vmid }}"
        state: started
        validate_certs: false

    - name: Wait until cp1 reports running in Proxmox
      community.proxmox.proxmox_kvm:
        api_host: "{{ proxmox_api_host_ip }}"
        api_user: "{{ proxmox_api_user }}"
        api_password: "{{ proxmox_api_password }}"
        node: "{{ proxmox_api_host }}"
        vmid: "{{ proxmox_k3s_cp1_vmid }}"
        state: current
        validate_certs: false
      register: vm_state
      until: vm_state.status == 'running'
      retries: 60
      delay: 2

- name: Clean up cp1 Ignition
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  delegate_to: localhost
  run_once: true
  loop:
    - "{{ role_path }}/files/k3s-cp-1.bu"
    - "{{ role_path }}/files/k3s-cp-1.ign"
  loop_control:
    loop_var: item
