- name: Ensure coreos/images and coreos/snippets exist on primary
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ proxmox_fcos_storage_path }}/images"
    - "{{ proxmox_fcos_storage_path }}/snippets"
  when: inventory_hostname in groups['proxmox_primary']

- name: Upload FCOS qcow2 to each node's coreos storage
  ansible.builtin.copy:
    src: "{{ proxmox_fcos_path }}"
    dest: "{{ proxmox_fcos_storage_path }}/images/{{ proxmox_fcos_path | basename }}"
    mode: "0644"
  loop: "{{ groups['proxmox'] }}"
  delegate_to: "{{ item }}"
  run_once: true

- name: Ensure Butane is installed (localhost)
  ansible.builtin.package:
    name: butane
    state: present
  delegate_to: localhost
  become: true
  run_once: true

- name: Render Butane for first control plane node (localhost)
  ansible.builtin.template:
    src: "{{ role_path }}/files/fcos-k3s-ha-control.bu.j2"
    dest: "{{ role_path }}/files/k3s-cp-1.bu"
    mode: "0644"
  delegate_to: localhost
  run_once: true
  vars:
    proxmox_vm_hostname: k3s-cp-1
    vm_ip: "{{ proxmox_k3s_control_plane_start_ip }}"

- name: Transpile first control plane Butane -> Ignition (localhost)
  ansible.builtin.command: >
    butane --pretty --strict
      {{ role_path }}/files/k3s-cp-1.bu
      --output {{ role_path }}/files/k3s-cp-1.ign
  args:
    creates: "{{ role_path }}/files/k3s-cp-1.ign"
  delegate_to: localhost
  run_once: true

- name: Render Butane for additional control plane nodes (localhost)
  ansible.builtin.template:
    src: "{{ role_path }}/files/fcos-k3s-ha-control-join.bu.j2"
    dest: "{{ role_path }}/files/k3s-cp-{{ item }}.bu"
    mode: "0644"
  delegate_to: localhost
  run_once: true
  vars:
    proxmox_vm_hostname: "k3s-cp-{{ item }}"
    vm_ip: >-
      {{ proxmox_k3s_control_plane_start_ip.split('.')[:-1] | join('.') }}.
      {{ (proxmox_k3s_control_plane_start_ip.split('.')[-1] | int) + (item | int - 1) }}
  loop: "{{ range(2, (proxmox_k3s_control_plane_count | int) + 1) | list }}"

- name: Transpile additional control plane Butane -> Ignition (localhost)
  ansible.builtin.command: >
    butane --pretty --strict
      {{ role_path }}/files/k3s-cp-{{ item }}.bu
      --output {{ role_path }}/files/k3s-cp-{{ item }}.ign
  args:
    creates: "{{ role_path }}/files/k3s-cp-{{ item }}.ign"
  delegate_to: localhost
  run_once: true
  loop: "{{ range(2, (proxmox_k3s_control_plane_count | int) + 1) | list }}"

- name: Render & transpile worker Ignitions (localhost)
  delegate_to: localhost
  run_once: true
  block:
    - name: Render worker Butane
      ansible.builtin.template:
        src: "{{ role_path }}/files/fcos-k3s-worker.bu.j2"
        dest: "{{ role_path }}/files/{{ item.name }}.bu"
        mode: "0644"
      vars:
        proxmox_vm_hostname: "{{ item.name }}"
        vm_ip: >-
          {{ proxmox_k3s_control_plane_start_ip.split('.')[:-1] | join('.') }}.
          {{ (proxmox_k3s_control_plane_start_ip.split('.')[-1] | int) + (item.ip_offset | int) }}
      loop: "{{ proxmox_k3s_worker_vm_list }}"

    - name: Transpile workers Butane -> Ignition
      ansible.builtin.command: >
        butane --pretty --strict
          {{ role_path }}/files/{{ item.name }}.bu
          --output {{ role_path }}/files/{{ item.name }}.ign
      changed_when: true
      args:
        creates: "{{ role_path }}/files/{{ item.name }}.ign"
      loop: "{{ proxmox_k3s_worker_vm_list }}"
