- name: Set facts for NFS storage
  ansible.builtin.set_fact:
    synology_ip: "{{ lookup('community.general.onepassword', 'oattlsmrtkwf6ppnvvo24shk24', field='ip address', vault='HomeLab') }}"

- name: Check if storage exists
  ansible.builtin.command: pvesm status --storage {{ nfs.id }}
  register: storage_check
  changed_when: false
  failed_when: false
  loop: "{{ proxmox_nfs_storages }}"
  loop_control:
    loop_var: nfs
  when: inventory_hostname in groups['proxmox_primary']
  run_once: true

- name: Add storage if it does not exist
  ansible.builtin.command: >
    pvesm add nfs {{ nfs.id }}
    --server {{ synology_ip }}
    --export {{ nfs.export }}
    --options vers=4
    --content {{ nfs.content }}
    --nodes {{ groups['proxmox'] | join(',') }}
  when: >
    ((
      storage_check.results
      | selectattr('nfs.id', 'equalto', nfs.id)
      | first
    ).rc != 0) and inventory_hostname in groups['proxmox_primary']
  loop: "{{ proxmox_nfs_storages }}"
  loop_control:
    loop_var: nfs
  run_once: true

- name: Ensure coreos storage directory exists on Proxmox nodes
  ansible.builtin.file:
    path: "{{ proxmox_fcos_storage_path }}"
    state: directory
    mode: "0755"
  when: inventory_hostname in groups['proxmox']

- name: Add coreos storage to all Proxmox nodes
  ansible.builtin.command: >
    pvesm add dir coreos
    --path {{ proxmox_fcos_storage_path }}
    --content images,snippets
    --nodes {{ groups['proxmox'] | join(',') }}
  when: inventory_hostname in groups['proxmox_primary']
  run_once: true
  register: proxmox_fcos_storage_path_add
  failed_when: "'already defined' not in proxmox_fcos_storage_path_add.stderr and proxmox_fcos_storage_path_add.rc != 0"
  changed_when: proxmox_fcos_storage_path_add.rc == 0
