apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-paperless-ngx-consume
  labels:
    app.kubernetes.io/name: paperless-ngx
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem
  mountOptions:
    - nfsvers=4.1
  nfs:
    server: 192.168.226.6
    path: /volume2/paperless/consume
