apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/hostname: "argocd"
    tailscale.com/tags: "tag:k8s,tag:infra-gitops"
