- name: Ensure coreos/images and coreos/snippets exist on primary
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ coreos_storage }}/images"
    - "{{ coreos_storage }}/snippets"
  when: inventory_hostname in groups['proxmox_primary']

- name: Upload FCOS qcow2 to primary node storage
  ansible.builtin.copy:
    src: "{{ hostvars['localhost']['fcos_find'].files[0].path }}"
    dest: "{{ coreos_storage }}/images/{{ hostvars['localhost']['fcos_find'].files[0].path | basename }}"
    mode: "0644"
  become: true
  when: inventory_hostname == groups['proxmox_primary'][0]

- name: Ensure Butane is installed (localhost)
  ansible.builtin.package:
    name: butane
    state: present
  delegate_to: localhost
  run_once: true

- name: Render Butane for control plane (localhost)
  ansible.builtin.template:
    src: "{{ role_path }}/files/fcos-k3s-control.bu.j2"
    dest: "{{ role_path }}/files/k3s-control-plane.bu"
    mode: "0644"
  vars:
    fcos_variant: "{{ proxmox_fcos_variant }}"
    fcos_version: "{{ proxmox_fcos_version }}"
    k3s_data_device: "{{ proxmox_k3s_data_device }}"
    k3s_data_label: "{{ proxmox_k3s_data_label }}"
    k3s_data_mount: "{{ proxmox_k3s_data_mount }}"
  delegate_to: localhost
  run_once: true

- name: Transpile control plane Butane -> Ignition (localhost)
  ansible.builtin.command: >
    butane --pretty --strict
      {{ role_path }}/files/k3s-control-plane.bu
      --output {{ role_path }}/files/k3s-control-plane.ign
  args:
    creates: "{{ role_path }}/files/k3s-control-plane.ign"
  delegate_to: localhost
  run_once: true

- name: Render & transpile worker Ignitions (localhost)
  delegate_to: localhost
  run_once: true
  block:
    - name: Render worker Butane
      ansible.builtin.template:
        src: "{{ role_path }}/files/fcos-k3s-worker-bu.j2"
        dest: "{{ role_path }}/files/k3s-worker-{{ item }}.bu"
        mode: "0644"
      vars:
        inventory_index: "{{ item }}"
        fcos_variant: "{{ proxmox_fcos_variant }}"
        fcos_version: "{{ proxmox_fcos_version }}"
        k3s_data_device: "{{ proxmox_k3s_data_device }}"
        k3s_data_label: "{{ proxmox_k3s_data_label }}"
        k3s_data_mount: "{{ proxmox_k3s_data_mount }}"
        control_plane_ip: "{{ control_plane_ip }}"
        k3s_token: "{{ k3s_token }}"
      loop: "{{ range(1, (proxmox_k3s_worker_count | int) + 1) | list }}"
      loop_control:
        loop_var: item

    - name: Transpile workers Butane -> Ignition
      ansible.builtin.command: >
        butane --pretty --strict
          {{ role_path }}/files/k3s-worker-{{ item }}.bu
          --output {{ role_path }}/files/k3s-worker-{{ item }}.ign
      changed_when: true
      args:
        creates: "{{ role_path }}/files/k3s-worker-{{ item }}.ign"
      loop: "{{ range(1, (proxmox_k3s_worker_count | int) + 1) | list }}"
      loop_control:
        loop_var: item
