- name: Fetch Fedora CoreOS image on control host
  hosts: local
  gather_facts: false

  roles:
    - role: control_host_dependencies
    - role: coreos_cli_install
    - role: coreos_image_fetch
    - role: ignition_renderer
      vars:
        ignition_renderer_cluster_layout: "{{ proxmox_cluster_layout }}"
  tasks:
    - name: Calculate final FCOS qcow2 template path on Proxmox
      ansible.builtin.set_fact:
        proxmox_k3s_fcos_template_path: "{{ proxmox_cluster_storage_template_dir }}/{{ coreos_image_fetch_image_path | basename }}"
      when: coreos_image_fetch_image_path is defined
      tags: always

- name: Copy Fedora CoreOS image and ignition configs into Proxmox shared storage
  hosts: coachlight-homelab-1
  gather_facts: true

  vars:
    coreos_image_source_host: "{{ groups['local'][0] }}"
    coreos_ignition_source_dir: "{{ hostvars[coreos_image_source_host].ignition_renderer_output_dir }}"

  tasks:
    - name: Initialize file_copier_items with Fedora CoreOS image
      ansible.builtin.set_fact:
        file_copier_items:
          - src: "{{ hostvars[coreos_image_source_host].coreos_image_fetch_image_path }}"
            dest: "{{ proxmox_cluster_storage_template_dir }}/{{ hostvars[coreos_image_source_host].coreos_image_fetch_image_path | basename }}"

    - name: Add ignition configs for each k3s node to file_copier_items
      ansible.builtin.set_fact:
        file_copier_items: "{{ file_copier_items + [ {
          'src': coreos_ignition_source_dir ~ '/' ~ item.name ~ '.ign',
          'dest': proxmox_cluster_storage_snippets_dir ~ '/' ~ item.name ~ '.ign'} ] }}"
      loop: "{{ proxmox_cluster_layout.control_planes + proxmox_cluster_layout.workers }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Copy Fedora CoreOS image and ignition configs into Proxmox shared storage on {{ inventory_hostname }}
      ansible.builtin.include_role:
        name: file_copier

- name: Create and start Proxmox VMs for k3s cluster
  hosts: local
  gather_facts: true

  roles:
    - role: proxmox_k3s_vm_scaffolder

- name: Delete k3s VMs from Proxmox
  hosts: local
  gather_facts: true
  roles:
    - role: proxmox_k3s_vm_destroyer
      when: "'k3s_cluster_delete' in ansible_run_tags"
  tags:
    - k3s_cluster_delete
