- name: Fetch Fedora CoreOS image on control host
  hosts: local
  gather_facts: false

  roles:
    - role: control_host_dependencies
    - role: coreos_cli_install
    - role: coreos_image_fetch
    - role: ignition_renderer
      vars:
        ignition_renderer_cluster_layout: "{{ proxmox_cluster_layout }}"

- name: Copy Fedora CoreOS image into Proxmox shared storage
  hosts: coachlight-homelab-1
  gather_facts: false

  vars:
    coreos_image_source_host: "{{ groups['local'][0] }}"

    proxmox_cluster_storage_mount: "/mnt/pve/proxmox-cluster-storage"
    proxmox_cluster_storage_template_dir: >-
      {{ proxmox_cluster_storage_mount }}/template/qemu

    file_copier_items:
      - src: "{{ hostvars[coreos_image_source_host].coreos_image_fetch_image_path }}"
        dest: >-
          {{ proxmox_cluster_storage_template_dir }}/
          {{ hostvars[coreos_image_source_host].coreos_image_fetch_image_path | basename }}

  roles:
    - role: file_copier
