---
- name: Omada API Tester Playbook
  hosts: localhost
  gather_facts: false
  vars:
    omada_api_base_url: "https://192.168.226.6:8043"
    omada_api_username: >-
      {{ lookup('community.general.onepassword',
                'ss53lvwaeb3gwi5wfa77dbh22y',
                field='username',
                vault='HomeLab') }}
    omada_api_password: >-
      {{ lookup('community.general.onepassword',
                'ss53lvwaeb3gwi5wfa77dbh22y',
                field='password',
                vault='HomeLab') }}

  tasks:
    - name: Authenticate to Omada API
      ansible.builtin.include_role:
        name: omada_api_auth

    - name: Build Omada clients URL
      ansible.builtin.set_fact:
        omada_clients_url: >-
          {{ omada_api_base_path }}/sites/Default/clients
          ?token={{ omada_api_token }}
          &currentPage=1
          &currentPageSize=1000

    - name: Get Omada clients from default site
      ansible.builtin.uri:
        url: "{{ omada_clients_url | replace('\n', '') | replace(' ', '') }}"
        method: GET
        validate_certs: false
        return_content: true
        status_code: 200
        headers:
          Csrf-Token: "{{ omada_api_token }}"
          Cookie: "{{ omada_api_cookies }}"
      register: omada_clients

    - name: Show Omada clients
      ansible.builtin.debug:
        var: omada_clients.json
