[defaults]
callback_result_format = yaml
show_custom_stats = true
force_color = true
inventory = ./inventories/hosts.yml
roles_path = /home/sfroeber/GitHub/utility-scripts/synology-backup/ansible/roles
playbook_dir = ./playbooks

callbacks_enabled = timer
