---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yml
  - onepassword/mosquitto-auth.yml
  - networkpolicy/mosquitto-allow.yml

configMapGenerator:
  - name: mosquitto-config
    files:
      - config/mosquitto.conf
