---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
  namespace: infra-mqtt
data:
  mosquitto.conf: |
    listener 1883
    allow_anonymous false
    persistence true
    persistence_location /mosquitto/data

    password_file /config/passwords.conf
    acl_file /config/acl.conf
  acl.conf: |
    user admin
    topic readwrite #
