---
apiVersion: v1
kind: Secret
metadata:
  name: {{ argocd_github_repo_create_repo_secret_name }}
  namespace: {{ argocd_github_repo_create_argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ argocd_github_repo_create_repo_url_ssh }}
  sshPrivateKey: |
{{ argocd_github_repo_create_ssh_private_key | indent(4, true) }}
