---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ argocd_github_repo_create_op_item_name }}
  namespace: {{ argocd_github_repo_create_argocd_namespace }}
spec:
  itemPath: {{ argocd_github_repo_create_op_item_path }}
