---
- name: Loop through control host dependencies checker for {{ control_host_dependencies_system_package }}
  ansible.builtin.include_role:
    name: cli_tester
  loop: "{{ control_host_dependencies_system_packages | default([]) }}"
  loop_control:
    loop_var: control_host_dependencies_system_package
  vars:
    cli_tester_cli_name: "{{ control_host_dependencies_system_package }}"

- name: Ensure system packages are installed for control host dependencies {{ [control_host_dependencies_system_packages | length, 'packages'] | join(' ') }}
  ansible.builtin.package:
    name: "{{ control_host_dependencies_system_packages }}"
    state: present
  become: true
  when: (control_host_dependencies_system_packages | default([])) | length > 0

- name: Ensure pip dependencies are present for control host dependencies {{ [control_host_dependencies_pip_packages | length, 'packages'] | join(' ') }}
  ansible.builtin.pip:
    name: "{{ control_host_dependencies_pip_packages }}"
    state: present
    executable: "{{ control_host_dependencies_pip_executable | default(omit) }}"
  when: (control_host_dependencies_pip_packages | default([])) | length > 0
  become: true

- name: Determine tools requiring validation
  ansible.builtin.set_fact:
    control_host_dependencies_tools_to_check: >-
      {{
        ['butane', 'coreos-installer']
        | intersect(
            (control_host_dependencies_system_packages | default([]))
            + (control_host_dependencies_pip_packages | default([]))
          )
      }}

- name: Collect control host dependency artifacts
  ansible.builtin.set_fact:
    control_host_dependencies_artifacts:
      packages_installed: "{{ control_host_dependencies_system_packages | default([]) }}"
      pip_packages_installed: "{{ control_host_dependencies_pip_packages | default([]) }}"
      tools_checked: "{{ control_host_dependencies_tools_to_check | default([]) }}"

- name: Publish control host dependency artifacts
  ansible.builtin.include_role:
    name: role_artifacts
  vars:
    # noqa: var-naming
    calling_role_name: "control_host_dependencies"
    calling_role_artifacts_inputs: "{{ control_host_dependencies_artifacts }}"
