apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ paperless_ngx_deploy_app_name }}
  namespace: {{ paperless_ngx_deploy_argocd_namespace }}
spec:
  project: {{ paperless_ngx_deploy_project }}
  source:
    repoURL: {{ paperless_ngx_deploy_repo_url }}
    targetRevision: {{ paperless_ngx_deploy_target_revision }}
    path: {{ paperless_ngx_deploy_path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: paperless-ngx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
