apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: paperless-ngx-homepage
  namespace: {{ paperless_ngx_deploy_namespace }}
  labels:
    app.kubernetes.io/name: paperless-ngx
    app.kubernetes.io/component: webserver
    app.kubernetes.io/managed-by: ansible
  annotations:
{% for key, value in paperless_ngx_deploy_homepage_annotations.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}
spec:
  rules:
    - host: {{ paperless_ngx_deploy_hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: paperless-ngx-webserver
                port:
                  number: 8000
