apiVersion: v1
kind: Secret
metadata:
  name: paperless-ngx-secrets
  namespace: {{ paperless_ngx_deploy_namespace }}
  labels:
    app.kubernetes.io/name: paperless-ngx
    app.kubernetes.io/component: webserver
    app.kubernetes.io/managed-by: ansible
type: Opaque
stringData:
{% for key, value in paperless_ngx_deploy_env_secrets.items() %}
  {{ key }}: "{{ value }}"
{% endfor %}
