---
- name: Get secrets from 1Password (Performance optimization)
  hosts: local
  gather_facts: true
  tags: always
  tasks:
    - name: Debug package manager and OS
      ansible.builtin.debug:
        var: ansible_facts.pkg_mgr

    - name: Debug distribution info
      ansible.builtin.debug:
        msg: >-
          {{ ansible_facts.os_family }}
          {{ ansible_facts.distribution }}
          {{ ansible_facts.distribution_version }}

    - name: Read credentials from 1Password once
      ansible.builtin.set_fact:
        homelab_become_pass: >-
          {{ lookup('community.general.onepassword',
                    'ydeuaeonuaoyhbvrg5d3pq4rgq',
                    field='password',
                    vault='HomeLab') }}
        ignition_template_ssh_key: >-
          {{ lookup('community.general.onepassword',
                     'coachlight-homelab SSH key',
                     field='public_key',
                     vault='HomeLab') }}
        ignition_template_ts_auth_key: >-
          {{ lookup('community.general.onepassword',
                    'Tailscale',
                    field='k3s cluster nodes',
                    vault='HomeLab') }}
        proxmox_k3s_cluster_token: >-
          {{ lookup('community.general.onepassword',
                    'Coachlight k3s Cluster',
                    field='cluster token',
                    vault='HomeLab') }}
        # proxmox_api_user: >-
        #   {{ lookup('community.general.onepassword',
        #             'Coachlight ProxMox Cluster',
        #             field='username',
        #             vault='HomeLab') }}
        proxmox_api_password: >-
          {{ lookup('community.general.onepassword',
                    'Coachlight ProxMox Cluster',
                    field='password',
                    vault='HomeLab') }}
        tailscale_oauth_client_id: >-
          {{ lookup('community.general.onepassword',
                    'Tailscale',
                    field='tailscale_oauth_client_id',
                    vault='HomeLab') }}
        tailscale_oauth_client_secret: >-
          {{ lookup('community.general.onepassword',
                    'Tailscale',
                    field='tailscale_oauth_client_secret',
                    vault='HomeLab') }}
        k3s_synology_csi_nas_username: >-
          {{ lookup('community.general.onepassword',
                    'tpmiwkdnk3qafsg4u3r6l7simy',
                    field='username',
                    vault='HomeLab') }}
        k3s_synology_csi_nas_password: >-
          {{ lookup('community.general.onepassword',
                    'tpmiwkdnk3qafsg4u3r6l7simy',
                    field='password',
                    vault='HomeLab') }}
        argocd_github_oauth_client_id: >-
          {{ lookup('community.general.onepassword',
                    'Github',
                    field='argocd-client-id',
                    vault='HomeLab') }}
        argocd_github_oauth_client_secret: >-
          {{ lookup('community.general.onepassword',
                    'Github',
                    field='argocd-client-secret',
                    vault='HomeLab') }}
        homepage_nextdns_api_token: >-
          {{ lookup('community.general.onepassword',
                    'NextDNS',
                    field='homepage_api_token',
                    vault='HomeLab') }}
        crafty_controller_deploy_sfroeber_password: >-
          {{ lookup('community.general.onepassword',
                    'Crafty Controller',
                    field='password',
                    vault='HomeLab') }}
        proxmox_tailscale_setup_auth_key: >-
          {{ lookup('community.general.onepassword',
                    'Tailscale',
                    field='proxmox nodes',
                    vault='HomeLab') }}
        argocd_homepage_token_op_service_account_token: >-
          {{ lookup('community.general.onepassword',
                    'Service Account Auth Token: Homelab Playbook',
                    field='credential',
                    vault='HomeLab') }}
        onepassword_connect_credentials: >-
          {{ lookup('community.general.onepassword_doc',
                    'Coachlight HomeLab Credentials File',
                    vault='HomeLab')}}
        onepassword_operator_token: >-
          {{ lookup('community.general.onepassword',
                    'd3dschiayvvfyy2lgcksk6koyy',
                    field='credential',
                    vault='HomeLab') }}
      run_once: true

    - name: Set become vars for this play
      ansible.builtin.set_fact:
        ansible_become_pass: "{{ homelab_become_pass }}"

- name: Run maintenance on Proxmox nodes
  hosts: proxmox
  gather_facts: true
  become: true
  tags:
    - proxmox_maintenance
  vars:
    connection_preference: lan
  roles:
    - proxmox_maintenance

# - name: Playbook to set up desktops and laptops
#   import_playbook: playbooks/workstations.yml
# - name: Playbook to prepare newly installed Proxmox nodes for clustering
#   import_playbook: playbooks/proxmox.yml
- name: Set up Tailscale on Proxmox nodes
  hosts: proxmox
  gather_facts: true
  become: true
  tags:
    - proxmox_tailscale_setup
  vars:
    ansible_user: root
    ansible_ssh_private_key_file: ~/.ssh/coachlight-homelab.pem
    proxmox_tailscale_setup_auth_key: >-
      {{ hostvars['localhost']['proxmox_tailscale_setup_auth_key'] }}
  roles:
    - proxmox_tailscale_setup

- name: Playbook to prepare newly installed Proxmox nodes for clustering
  import_playbook: playbooks/k3s-cluster-setup.yml
  when: >-
    'k3s_cluster_setup' in ansible_run_tags or
    'k3s_cluster_destroy' in ansible_run_tags

- name: Deploy Coachlight HomeLab Infra Stack
  import_playbook: playbooks/coachlight-infra-stack.yml
  when: "'coachlight_infra_stack_deploy' in ansible_run_tags"
