- name: Get secrets from 1Password (Performance optimization)
  hosts: local
  gather_facts: true
  tasks:
    - name: Debug package manager and OS
      ansible.builtin.debug:
        var: ansible_facts.pkg_mgr

    - name: Debug distribution info
      ansible.builtin.debug:
        msg: "{{ ansible_facts.os_family }} {{ ansible_facts.distribution }} {{ ansible_facts.distribution_version }}"

    - name: Read credentials from 1Password once
      ansible.builtin.set_fact:
        homelab_become_pass: >-
          {{ lookup('community.general.onepassword',
                    'ydeuaeonuaoyhbvrg5d3pq4rgq',
                    field='password',
                    vault='HomeLab') }}
        ignition_template_ssh_key: >-
          {{ lookup('community.general.onepassword',
                     'coachlight-homelab SSH key',
                     field='public_key',
                     vault='HomeLab') }}
        ignition_template_ts_auth_key: >-
          {{ lookup('community.general.onepassword', 'Tailscale', field='coachlight-homelab auth key', vault='HomeLab') }}
        proxmox_k3s_cluster_token: >-
          {{ lookup('community.general.onepassword',
                    'Coachlight k3s Cluster',
                    field='cluster token',
                    vault='HomeLab') }}
        proxmox_api_password: >-
          {{ lookup('community.general.onepassword',
                    'Coachlight ProxMox Cluster',
                    field='ng7tr2fe5zm32b3ukayno6lciy',
                    vault='HomeLab') }}
      run_once: true
      delegate_to: localhost

    - name: Set become vars for this play
      ansible.builtin.set_fact:
        ansible_become_pass: "{{ homelab_become_pass }}"

# - name: Playbook to set up desktops and laptops
#   import_playbook: playbooks/workstations.yml
# - name: Playbook to prepare newly installed Proxmox nodes for clustering
#   import_playbook: playbooks/proxmox.yml
- name: Playbook to prepare newly installed Proxmox nodes for clustering
  import_playbook: playbooks/k3s-cluster-setup.yml
