---
- name: Assert required homepage_deploy inputs are defined
  ansible.builtin.assert:
    that:
      - homepage_deploy_kubeconfig is defined
      - homepage_deploy_context is defined
      - homepage_deploy_kubeconfig | string | length > 0
      - homepage_deploy_context | length > 0
    fail_msg: |
      homepage_deploy_kubeconfig and
      homepage_deploy_context must be defined for
      homepage_deploy.

- name: Set paths to ArgoCD Application manifests
  ansible.builtin.set_fact:
    homepage_deploy_secrets_manifest: >-
      {{ [
        playbook_dir,
        '..',
        homepage_deploy_argocd_manifests_path,
        'homepage_secrets.yml'
      ] | join('/') }}
    homepage_deploy_app_manifest: >-
      {{ [
        playbook_dir,
        '..',
        homepage_deploy_argocd_manifests_path,
        'homepage.yml'
      ] | join('/') }}

- name: Apply Homepage secrets ArgoCD Application manifest
  ansible.builtin.include_role:
    name: k8s_object_manager
  vars:
    k8s_object_manager_kubeconfig: "{{ homepage_deploy_kubeconfig }}"
    k8s_object_manager_context: "{{ homepage_deploy_context }}"
    k8s_object_manager_state: present
    k8s_object_manager_src: "{{ homepage_deploy_secrets_manifest }}"

- name: Apply Homepage ArgoCD Application manifest
  ansible.builtin.include_role:
    name: k8s_object_manager
  vars:
    k8s_object_manager_kubeconfig: "{{ homepage_deploy_kubeconfig }}"
    k8s_object_manager_context: "{{ homepage_deploy_context }}"
    k8s_object_manager_state: present
    k8s_object_manager_src: "{{ homepage_deploy_app_manifest }}"

- name: Wait for Homepage secrets ArgoCD Application sync and health
  kubernetes.core.k8s_info:
    kubeconfig: "{{ homepage_deploy_kubeconfig }}"
    context: "{{ homepage_deploy_context }}"
    api_version: argoproj.io/v1alpha1
    kind: Application
    name: homepage-secrets
    namespace: "{{ homepage_deploy_argo_namespace }}"
  register: homepage_deploy_secrets_app_status
  until:
    - homepage_deploy_secrets_app_status.resources | length > 0
    - >-
      homepage_deploy_secrets_app_status.resources[0].status.sync.status
      == "Synced"
    - >-
      homepage_deploy_secrets_app_status.resources[0].status.health.status
      == "Healthy"
  retries: 60
  delay: 5

- name: Wait for Homepage ArgoCD Application sync and health
  kubernetes.core.k8s_info:
    kubeconfig: "{{ homepage_deploy_kubeconfig }}"
    context: "{{ homepage_deploy_context }}"
    api_version: argoproj.io/v1alpha1
    kind: Application
    name: homepage
    namespace: "{{ homepage_deploy_argo_namespace }}"
  register: homepage_deploy_app_status
  until:
    - homepage_deploy_app_status.resources | length > 0
    - >-
      homepage_deploy_app_status.resources[0].status.sync.status
      == "Synced"
    - >-
      homepage_deploy_app_status.resources[0].status.health.status
      == "Healthy"
  retries: 60
  delay: 5

- name: Set homepage_deploy_artifacts fact
  ansible.builtin.set_fact:
    homepage_deploy_artifacts:
      secrets_application_name: homepage-secrets
      application_name: homepage
      application_namespace: "{{ homepage_deploy_argo_namespace }}"
      homepage_namespace: "{{ homepage_deploy_namespace }}"

- name: Persist homepage_deploy role artifacts
  ansible.builtin.include_role:
    name: role_artifacts
  vars:
    # noqa: var-naming
    calling_role_name: homepage_deploy
    calling_role_artifacts_inputs: "{{ homepage_deploy_artifacts }}"
