- name: Apply Homepage Argo CD Application manifest
  ansible.builtin.include_role:
    name: k8s_object_manager
  vars:
    k8s_object_manager_kubeconfig: "{{ homepage_deploy_kubeconfig }}"
    k8s_object_manager_context: "{{ homepage_deploy_context }}"
    k8s_object_manager_state: present
    k8s_object_manager_src: "{{ homepage_deploy_manifests_path }}/application.yml"

- name: Register homepage_deploy role artifacts when homepage_deploy_artifacts_path is defined
  ansible.builtin.import_role:
    name: role_artifacts
  vars:
    role_homepage_deploy_artifacts_path: "{{ homepage_deploy_artifacts_path }}"
    # noqa: var-naming
    calling_role_name: homepage_deploy
    calling_role_artifacts_inputs:
      application_name: "{{ homepage_deploy_application_name }}"
      application_namespace: "{{ homepage_deploy_argo_namespace }}"
      homepage_deploy_namespace: "{{ homepage_deploy_namespace }}"
      manifests_path: "{{ homepage_deploy_manifests_path }}"
  when:
    - homepage_deploy_artifacts_path is defined
    - homepage_deploy_artifacts_path | length > 0
