---
- name: Ensure Homepage Argo CD Application is present
  kubernetes.core.k8s:
    state: present
    definition: >-
      {{ lookup('ansible.builtin.template', 'homepage-application.yml.j2') }}

- name: Apply Homepage static manifests from k8s/homepage
  kubernetes.core.k8s:
    state: present
    src: "{{ item }}"
  loop:
    - "{{ playbook_dir }}/../k8s/homepage/onepassworditem-argocd-token.yaml"
    - "{{ playbook_dir }}/../k8s/homepage/ingress-argocd.yaml"
  loop_control:
    label: "{{ item | basename }}"

- name: Register homepage_deploy role artifacts
  ansible.builtin.import_role:
    name: role_artifacts
  vars:
    role_homepage_deploy_artifacts_path: >-
      {{ homepage_deploy_artifacts_path }}
    # noqa: var-naming
    calling_role_name: homepage_deploy
    calling_role_artifacts_inputs:
      application_name: "{{ homepage_deploy_application_name }}"
      application_namespace: "{{ homepage_deploy_argo_namespace }}"
      homepage_deploy_namespace: "{{ homepage_deploy_namespace }}"
      static_manifests_path: "{{ playbook_dir }}/../k8s/homepage"
  when:
    - homepage_deploy_artifacts_path is defined
    - homepage_deploy_artifacts_path | length > 0
