---
- name: Build combined VM list for k3s cluster
  ansible.builtin.set_fact:
    proxmox_k3s_vm_scaffolder_all_vms: >-
      {{ proxmox_cluster_layout.control_planes + proxmox_cluster_layout.workers }}

- name: Create k3s VM with FCOS disk attached as scsi0
  ansible.builtin.include_role:
    name: proxmox_kvm_manager
  vars:
    proxmox_kvm_manager_api_host: "{{ proxmox_api_host }}"
    proxmox_kvm_manager_api_user: "{{ proxmox_api_user }}"
    proxmox_kvm_manager_api_password: >-
      {{ proxmox_api_password | default(omit) }}
    proxmox_kvm_manager_api_token_id: >-
      {{ proxmox_api_token_id | default(omit) }}
    proxmox_kvm_manager_api_token_secret: >-
      {{ proxmox_api_token_secret | default(omit) }}
    proxmox_kvm_manager_node: "{{ item.proxmox_node }}"
    proxmox_kvm_manager_vmid: "{{ item.vmid }}"
    proxmox_kvm_manager_state: present
    proxmox_kvm_manager_validate_certs: "{{ proxmox_validate_certs }}"
    proxmox_kvm_manager_module_params:
      name: "{{ item.name }}"
      localtime: true
      memory: "{{ item.memory }}"
      cores: "{{ item.cpu }}"
      sockets: 1
      net:
        net0: "virtio={{ item.mac }},bridge={{ proxmox_bridge }}"
      agent: 1
      scsihw: virtio-scsi-single
      scsi:
        scsi0: "{{ proxmox_storage }}:0,import-from={{ proxmox_k3s_fcos_template_path }},format=qcow2,iothread=1"
      ostype: l26
      boot: "order=scsi0"
      onboot: true
      args: >-
        -fw_cfg name=opt/com.coreos/config,file={{ proxmox_cluster_storage_snippets_dir }}/{{ item.name }}.ign
      pool: kubernetes
      tags:
        - coachlight-homelab
        - cluster-service
        - "{{ 'cluster-control' if item.role == 'control-plane' else 'cluster-worker' }}"
  loop: "{{ proxmox_k3s_vm_scaffolder_all_vms }}"
  loop_control:
    label: "{{ item.name }}"

- name: Resize primary disk for each k3s node
  ansible.builtin.include_role:
    name: proxmox_vm_disk_manager
  vars:
    proxmox_vm_disk_manager_api_host: "{{ proxmox_api_host }}"
    proxmox_vm_disk_manager_api_user: "{{ proxmox_api_user }}"
    proxmox_vm_disk_manager_api_password: >-
      {{ proxmox_api_password | default(omit) }}
    proxmox_vm_disk_manager_api_token_id: >-
      {{ proxmox_api_token_id | default(omit) }}
    proxmox_vm_disk_manager_api_token_secret: >-
      {{ proxmox_api_token_secret | default(omit) }}
    proxmox_vm_disk_manager_vmid: "{{ item.vmid }}"
    proxmox_vm_disk_manager_disk: scsi0
    proxmox_vm_disk_manager_state: resized
    proxmox_vm_disk_manager_validate_certs: "{{ proxmox_validate_certs }}"
    proxmox_vm_disk_manager_module_params:
      size: "{{ item.disk }}G"
  loop: "{{ proxmox_k3s_vm_scaffolder_all_vms }}"
  loop_control:
    label: "{{ item.name }}"

- name: Start each k3s VM
  ansible.builtin.include_role:
    name: proxmox_kvm_manager
  vars:
    proxmox_kvm_manager_api_host: "{{ proxmox_api_host }}"
    proxmox_kvm_manager_api_user: "{{ proxmox_api_user }}"
    proxmox_kvm_manager_api_password: >-
      {{ proxmox_api_password | default(omit) }}
    proxmox_kvm_manager_api_token_id: >-
      {{ proxmox_api_token_id | default(omit) }}
    proxmox_kvm_manager_api_token_secret: >-
      {{ proxmox_api_token_secret | default(omit) }}
    proxmox_kvm_manager_node: "{{ item.proxmox_node }}"
    proxmox_kvm_manager_vmid: "{{ item.vmid }}"
    proxmox_kvm_manager_state: started
    proxmox_kvm_manager_validate_certs: "{{ proxmox_validate_certs }}"
    proxmox_kvm_manager_module_params: {}
  loop: "{{ proxmox_k3s_vm_scaffolder_all_vms }}"
  loop_control:
    label: "{{ item.name }}"
