---
# ansible/inventories/group_vars/all.yml
ansible_user: sfroeber
ansible_ssh_private_key_file: "~/.ssh/coachlight-homelab.pem"
ansible_ssh_common_args: >-
  -o IdentitiesOnly=yes -o StrictHostKeyChecking=accept-new

connection_preference: tailnet

ansible_host: >-
  {{
    (
      connection_preference == 'tailnet'
      and (ts_ip | default('') | length > 0)
    )
    | ternary(
        ts_ip,
        lan_ip | default(inventory_hostname)
      )
  }}

artifacts_path: "{{ playbook_dir }}/.artifacts"
