proxmox_fcos_stream: stable
proxmox_fcos_download_dir: ~/Downloads/fcos
proxmox_fcos_variant: fcos
proxmox_fcos_version: 1.5.0

proxmox_storage: local-zfs
proxmox_storage_type: scsi
proxmox_cluster_storage_mount: "/mnt/pve/proxmox-cluster-storage"
proxmox_cluster_storage_template_dir: "{{ proxmox_cluster_storage_mount }}/template/qemu"
proxmox_cluster_storage_snippets_dir: "{{ proxmox_cluster_storage_mount }}/snippets"

proxmox_bridge: vmbr0

proxmox_k3s_control_plane_subnet: 192.168.226.0/24
proxmox_k3s_control_plane_gateway: 192.168.226.1
proxmox_k3s_version: "v1.34.2+k3s1"
proxmox_k3s_data_device: /dev/vdb
proxmox_k3s_data_label: K3S_DATA
proxmox_k3s_data_mount: /var/lib/rancher/k3s
proxmox_k3s_tailscale_version: "1.90.9"
proxmox_k3s_cluster_storage_nfs_path: "/volume2/k3s-cluster-storage"

proxmox_cluster_layout:
  proxmox_nodes:
    - name: coachlight-homelab-1
      ip: 192.168.226.90
    - name: coachlight-homelab-2
      ip: 192.168.226.91
    - name: coachlight-homelab-3
      ip: 192.168.226.92

  control_planes:
    - name: k3s-cp-1
      vmid: 100
      ip: 192.168.226.93
      mac: "52:54:00:12:34:01"
      proxmox_node: coachlight-homelab-1
      role: bootstrap
      cpu: 2
      memory: 5120
      disk: 60
    - name: k3s-cp-2
      vmid: 101
      ip: 192.168.226.94
      mac: "52:54:00:12:34:02"
      proxmox_node: coachlight-homelab-2
      role: join
      cpu: 2
      memory: 5120
      disk: 60
    - name: k3s-cp-3
      vmid: 102
      ip: 192.168.226.95
      mac: "52:54:00:12:34:03"
      proxmox_node: coachlight-homelab-3
      role: join
      cpu: 2
      memory: 5120
      disk: 60

  workers:
    - name: k3s-wkr-1
      vmid: 200
      ip: 192.168.226.96
      mac: "52:54:00:12:34:04"
      proxmox_node: coachlight-homelab-1
      role: worker
      cpu: 4
      memory: 10240
      disk: 200
    - name: k3s-wkr-2
      vmid: 201
      ip: 192.168.226.97
      mac: "52:54:00:12:34:05"
      proxmox_node: coachlight-homelab-1
      role: worker
      cpu: 4
      memory: 8192
      disk: 170
    - name: k3s-wkr-3
      vmid: 202
      ip: 192.168.226.98
      mac: "52:54:00:12:34:06"
      proxmox_node: coachlight-homelab-2
      role: worker
      cpu: 4
      memory: 10240
      disk: 200
    - name: k3s-wkr-4
      vmid: 203
      ip: 192.168.226.99
      mac: "52:54:00:12:34:07"
      proxmox_node: coachlight-homelab-2
      role: worker
      cpu: 4
      memory: 8192
      disk: 170
    - name: k3s-wkr-5
      vmid: 204
      ip: 192.168.226.100
      mac: "52:54:00:12:34:08"
      proxmox_node: coachlight-homelab-3
      role: worker
      cpu: 4
      memory: 10240
      disk: 200
    - name: k3s-wkr-6
      vmid: 205
      ip: 192.168.226.101
      mac: "52:54:00:12:34:09"
      proxmox_node: coachlight-homelab-3
      role: worker
      cpu: 4
      memory: 8192
      disk: 170

# Proxmox API connection (used from the control host / localhost)
proxmox_api_host: "{{ hostvars[groups['proxmox'][0]].ansible_host }}"
proxmox_api_user: "root@pam"

# Storage ID as known to Proxmox (the *name* in Datacenter -> Storage)
proxmox_cluster_storage_id: "proxmox-cluster-storage"
