- name: Determine k9s OS identifier for Linux
  ansible.builtin.set_fact:
    k9s_install_os_id: linux

- name: Determine k9s architecture identifier for Linux
  ansible.builtin.set_fact:
    k9s_install_arch_id: >-
      {%- if ansible_architecture in ['x86_64', 'amd64'] -%}
      amd64
      {%- elif ansible_architecture in ['aarch64', 'arm64'] -%}
      arm64
      {%- else -%}
      unsupported
      {%- endif -%}

- name: Fail if k9s architecture is unsupported on Linux
  ansible.builtin.fail:
    msg: "Unsupported Linux architecture for k9s: {{ ansible_architecture }}"
  when: k9s_install_arch_id == "unsupported"

- name: Determine k9s package extension for Linux
  ansible.builtin.set_fact:
    k9s_install_pkg_ext: >-
      {%- if ansible_facts['os_family'] == 'Debian' -%}
      deb
      {%- elif ansible_facts['os_family'] in ['RedHat', 'Suse'] -%}
      rpm
      {%- else -%}
      unsupported
      {%- endif -%}

- name: Fail if k9s package format is unsupported on Linux
  ansible.builtin.fail:
    msg: "Unsupported Linux distribution family for k9s: {{ ansible_facts['os_family'] }}"
  when: k9s_install_pkg_ext == "unsupported"

- name: Create temporary directory for k9s Linux package
  ansible.builtin.tempfile:
    state: directory
    suffix: k9s_install
  register: k9s_install_tempdir

- name: Download k9s Linux package from GitHub
  ansible.builtin.get_url:
    url: "https://github.com/derailed/k9s/releases/download/{{ k9s_install_version }}/k9s_{{ k9s_install_os_id }}_{{ k9s_install_arch_id }}.{{ k9s_install_pkg_ext }}"
    dest: "{{ k9s_install_tempdir.path }}/k9s_linux_{{ k9s_install_arch_id }}.{{ k9s_install_pkg_ext }}"
    mode: "0644"
  register: k9s_install_download
  become: true

- name: Install k9s on Debian-based systems from .deb
  ansible.builtin.apt:
    deb: "{{ k9s_install_tempdir.path }}/k9s_linux_{{ k9s_install_arch_id }}.deb"
  when:
    - k9s_install_pkg_ext == "deb"
    - ansible_facts['os_family'] == "Debian"
  become: true

- name: Install k9s on RedHat family systems from .rpm
  ansible.builtin.dnf:
    name: "{{ k9s_install_tempdir.path }}/k9s_linux_{{ k9s_install_arch_id }}.rpm"
    disable_gpg_check: true
  when:
    - k9s_install_pkg_ext == "rpm"
    - ansible_facts['os_family'] == "RedHat"
  become: true

- name: Install k9s on Suse systems from .rpm
  community.general.zypper:
    name: "{{ k9s_install_tempdir.path }}/k9s_linux_{{ k9s_install_arch_id }}.rpm"
    disable_gpg_check: true
  when:
    - k9s_install_pkg_ext == "rpm"
    - ansible_facts['os_family'] == "Suse"
  become: true

- name: Remove temporary k9s Linux directory
  ansible.builtin.file:
    path: "{{ k9s_install_tempdir.path }}"
    state: absent
  become: true
