- name: Test if k9s CLI is already installed
  ansible.builtin.include_role:
    name: cli_tester
  vars:
    cli_tester_cli_name: k9s
    cli_tester_artifacts_path: "{{ k9s_install_artifacts_path }}"

- name: Install k9s when not installed
  when: not (cli_tester_is_cli_installed | default(false))
  block:
    - name: Install k9s on Linux
      ansible.builtin.import_tasks: linux_install.yml
      when: ansible_system == "Linux"

    - name: Install k9s on macOS
      ansible.builtin.import_tasks: darwin_install.yml
      when: ansible_system == "Darwin"

    - name: Fail when system is unsupported for k9s installation
      ansible.builtin.fail:
        msg: "k9s_install role currently supports only Linux (Debian/RedHat/Suse) and macOS (Darwin)."
      when: ansible_system not in ["Linux", "Darwin"]

    - name: Re-run cli_tester to confirm k9s installation
      ansible.builtin.include_role:
        name: cli_tester
      vars:
        cli_tester_cli_name: k9s
        cli_tester_artifacts_path: "{{ k9s_install_artifacts_path }}"

- name: Verify k9s installation
  ansible.builtin.command:
    cmd: k9s version
  register: k9s_install_version_output
  changed_when: false
  failed_when: k9s_install_version_output.rc != 0

- name: Determine k9s binary path
  ansible.builtin.command:
    cmd: which k9s
  register: k9s_install_binary_check
  changed_when: false
  failed_when: k9s_install_binary_check.rc != 0

- name: Set k9s binary path fact
  ansible.builtin.set_fact:
    k9s_install_k9s_binary_path: "{{ k9s_install_binary_check.stdout }}"

- name: Pass Role artifacts
  ansible.builtin.include_role:
    name: role_artifacts
  vars:
    role_artifacts_path: "{{ k9s_install_artifacts_path }}"
    # noqa: var-naming
    calling_role_name: k9s_install
    calling_role_artifacts_inputs:
      k9s_binary_path: "{{ k9s_install_k9s_binary_path }}"
      k9s_version_output: "{{ k9s_install_version_output.stdout }}"
