- name: Assert required onepassword_operator_deploy inputs are defined
  ansible.builtin.assert:
    that:
      - onepassword_operator_deploy_kubeconfig is defined
      - onepassword_operator_deploy_context is defined
      - onepassword_operator_deploy_chart_version is defined
      - onepassword_operator_deploy_kubeconfig | string | length > 0
      - onepassword_operator_deploy_context | length > 0
      - onepassword_operator_deploy_chart_version | length > 0
    fail_msg: |
      onepassword_operator_deploy_kubeconfig
      onepassword_operator_deploy_context
      onepassword_operator_deploy_chart_version
      ...must be defined for onepassword_operator_deploy.

- name: Render onepassword_operator_deploy ArgoCD Application manifest
  ansible.builtin.template:
    src: "{{ role_path }}/templates/application.yml.j2"
    dest: "{{ role_path }}/templates/application.yml"
    mode: "0644"

- name: Set static path to pass to k8s_object_manager role
  ansible.builtin.set_fact:
    onepassword_operator_deploy_manifest: "{{ role_path }}/templates/application.yml"

- name: Apply 1password-operator ArgoCD Application manifest
  ansible.builtin.include_role:
    name: k8s_object_manager
  vars:
    k8s_object_manager_kubeconfig: "{{ onepassword_operator_deploy_kubeconfig }}"
    k8s_object_manager_context: "{{ onepassword_operator_deploy_context }}"
    k8s_object_manager_src: "{{ onepassword_operator_deploy_manifest }}"
  when: onepassword_operator_deploy_apply_objects | bool

- name: Persist onepassword_operator_deploy artifacts
  ansible.builtin.include_role:
    name: role_artifacts
  vars:
    # noqa: var-naming
    calling_role_name: "onepassword_operator_deploy"
    calling_role_artifacts_inputs:
      k3s_cluster_name: "{{ onepassword_operator_deploy_cluster_name | default(k3s_cluster_name | default('', true), true) }}"
      app_name: "{{ onepassword_operator_deploy_app_name }}"
      namespace: "{{ onepassword_operator_deploy_namespace }}"
      chart: "{{ onepassword_operator_deploy_chart }}"
      chart_version: "{{ onepassword_operator_deploy_chart_version }}"
      tailscale_hostname: "{{ onepassword_operator_deploy_tailscale_hostname }}"
      tailscale_tags: "{{ onepassword_operator_deploy_tailscale_tags }}"
      tailnet_domain: "{{ onepassword_operator_deploy_tailnet_domain }}"
      homepage_url: "{{ onepassword_operator_deploy_tailscale_hostname }}.{{ onepassword_operator_deploy_tailnet_domain }}"
      application_result: "{{ k8s_object_manager_result | default({}, true) }}"
