---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homepage
  namespace: infra-homepage
spec:
  ingressClassName: tailscale
  tls:
    - hosts:
        - homepage.rohu-shark.ts.net
  rules:
    - host: homepage.rohu-shark.ts.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: homepage
                port:
                  number: 80
